<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.mikyk10.alkeepass</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>248D0B84-9583-477C-868E-594AA30B4F37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8C69488-702C-4E3F-982E-151A40509543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F73B4172-5C12-4BAF-B7AD-B53D338E1893</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E745386E-68B1-43FB-ACE7-912986530B60</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>🔐 Copy TOTP</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6FB35745-C5A7-4BE6-9DA3-95C92076B026</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>👤 Copy Username</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A634AF1-4B3F-4AAD-945E-EDDA7491E744</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3922AA2B-3922-47A4-9FC0-C943DE520F42</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>🌏 Copy URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mikyk10</string>
	<key>description</key>
	<string>Quickly find Keepass entries and copy their attributes.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KeePass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$keepassxc_master_password" | $keepassxc_cli_path clip -b --totp $keepassxc_db_path "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E745386E-68B1-43FB-ACE7-912986530B60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6FB35745-C5A7-4BE6-9DA3-95C92076B026</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>{var:alf_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>./alkeepass search --alfred {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find .kdbx entry by {keywords}...</string>
				<key>title</key>
				<string>Find KeePass Entry</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F73B4172-5C12-4BAF-B7AD-B53D338E1893</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1A634AF1-4B3F-4AAD-945E-EDDA7491E744</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3922AA2B-3922-47A4-9FC0-C943DE520F42</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:alf_keyword}:about</string>
				<key>subtext</key>
				<string>Open the project page on github.</string>
				<key>text</key>
				<string>About</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>248D0B84-9583-477C-868E-594AA30B4F37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/mikyk10/alfred-keepass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B8C69488-702C-4E3F-982E-151A40509543</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A634AF1-4B3F-4AAD-945E-EDDA7491E744</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>248D0B84-9583-477C-868E-594AA30B4F37</key>
		<dict>
			<key>note</key>
			<string>Open the project page on github.</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>3922AA2B-3922-47A4-9FC0-C943DE520F42</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>6FB35745-C5A7-4BE6-9DA3-95C92076B026</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B8C69488-702C-4E3F-982E-151A40509543</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>E745386E-68B1-43FB-ACE7-912986530B60</key>
		<dict>
			<key>note</key>
			<string>run keepassxc-cli to copy TOTP</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>F73B4172-5C12-4BAF-B7AD-B53D338E1893</key>
		<dict>
			<key>note</key>
			<string>Search .kdbx entries</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>~/foobar.kdbx</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Location to your .kdbx file (kdbx 4 supported)</string>
			<key>label</key>
			<string>Path to Database file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>keepassxc_db_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>YOUR MASTER PASSWORD</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Master password to unlock the database</string>
			<key>label</key>
			<string>Master Password</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keepassxc_master_password</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>~/private.key</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>A Keyfile to unlock the database</string>
			<key>label</key>
			<string>Path to Key file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>keepassxc_keyfile_path</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>alf_keyword</key>
		<string>kp</string>
		<key>keepassxc_cli_path</key>
		<string>/usr/local/bin/keepassxc-cli</string>
	</dict>
	<key>version</key>
	<string>0.0.1-3-gcd8e1ee</string>
	<key>webaddress</key>
	<string>https://github.com/mikyk10/alfred-keepass</string>
</dict>
</plist>
